.contact {
    background-image: url("../assets/images/tinified/hari-nandakumar-8VEetr-egjQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: right 0 top 0;
    background-size: cover;
    color: white;
}

.contact h2 {
    margin: 0;
    font-size: calc(1.3rem + 6vw);
}

.contact form {
    width: 50%;
    height: 50%;
}

.contact form label {
    display: block;
    font-weight: bold;
    font-size: calc(1.3rem + 1vw);
}
.contact form label:nth-of-type(1) {
    display: inline-block;
}

.contact .form-field {
    margin: 7% 0;
}
.contact .form-field:nth-of-type(2) {
    height: 80%;
}

.contact .form-field input,textarea {
    background: none;
    border: none;
    outline: none;
    color: white;
    margin: 2% 0;
    font-size: calc(1.3rem + 0.5vw);
}

.contact form #message {
    height: 80%;
    max-height: 80%;
    min-height: 80%;
    margin: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-family: inherit;
}
.contact form #email {
    margin-left: 2%;
    width: 65%;
}

.contact form button[type="submit"] {
    width:  100%;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    font-weight: bold;
}

/*min-width: 768px*/
@media (max-width: 575.98px) { 
    .contact {
        background-position: right -160px bottom 0;
    }
    .contact h2 {
        text-align: center;
    }

    .contact form {
        width: 100%;
        height: 70%;
    }

    .contact .form-field:nth-of-type(2) {
        margin-top: 10%;
        height: 65%;
    }

    /*.contact form button[type="submit"] {
        height: 15%;
    }*/
    .contact form label:nth-of-type(1) {
        display: block;
    }
    .contact form #email {
        margin-left: 0;
        width: 100%;
    }
}