.health h2 {
    font-size: calc(1.3rem + 13vw);
    margin-top: 0;
    margin-bottom: 2%;
    line-height: 100%;
}

.health .illustration {
    width: 40%;
    height: 100%;
    background-image: url(../assets/images/zhen-hu-Xruf17OrkwM-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
}

.health .content {
    width: 45%;
}

.health .content h3 {
    font-size: calc(1.3rem + 0.2vw);
    letter-spacing: 5px;
    margin: 10px;
    margin-left: 0;
}

.health .content p {
    font-size: calc(1.1rem + 0.3vw);
    text-align: justify;
}

.health .button {
    position: absolute;
    left: 5%;
    top: 485%;
}

@media (max-width: 575.98px) { 
    .health {
        display: table;
    }
    .health h2 {
        position: absolute;
        top: 410%;
        left: 7%;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        line-height: 100%;
        margin: 0;
        font-size: calc(1.2rem + 1vw);
    }
    .health .content {
        display: table-header-group;
        width: 100%;
        padding: 5%;
        position: unset;
        padding: 0;
    }

    .health .content h3 {
        margin-top: 0;
        font-size: calc(1.2rem + 5vw);
        width: 100%;
        text-align: center;
    }

    .health .content p {
        margin-top: 10%;
        font-size: calc(0.8rem + 0.7vw);
    }

    .health .illustration {
        display: table-footer-group;
        border: 0.1px solid transparent;
        margin: 0 auto;
        height: 80%;
        width: 100%;
    }
    .health .button {
        display: block;
        margin: 0 auto;
        position: unset;
    }
}
/*@media (max-width: 575.98px) { 
    .health h2 {
        transform: rotate(271deg) translateX(-7rem) translateY(-5rem);
        position: absolute;
        left: 0;
        margin: 0;
        font-size: 4rem;
    }
    .health .content {
        width: 100%;
        padding: 5%;
        position: unset;
        padding: 0;
    }

    .health .content h3 {
        font-size: 8rem;
        text-align: left;
        margin: 0 auto;
        width: 80%;
    }

    .health .content p {
        margin-top: 6rem;
    }

    .health .illustration {
        width: 90%;
        height: 50%;
        top: 442%;
    }
    .health .button {
        position: absolute;
        right: 5%;
        width: unset;
        top: 493%;
    }
}*/