.intro {
    background: white;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.intro .textblock {
    display: block;
    float: left;
    width: 45%;
}

.intro h2 {
    position: relative;
    z-index: 9;
    font-size: calc(1.3rem + 11vw);
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
}

.intro .textblock p {
    font-size: calc(1.3rem + 0.5vw);
}

.intro .illustration {
    display: block;
    position: absolute;
    top: 5%;
    right: 10%;
    width: 40%;
    background-image: url("../assets/images/mypicture.jpg");
    background-position: right 50% top 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro .illustration::after {
    content: "";
    display: block;
    padding-bottom: 100%;
    transform: translate(4%, 4%);
    position: relative;
    z-index: -1;
    background-color: black;
}


/* Extra small devices (portrait phones, less than 576px), Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) { 
    .intro .textblock {
        float: unset;
        width: unset;
        margin-top: 10%;
    }
    .intro .textblock p {
        font-size: calc(0.8rem + 0.7vw);
        text-align: justify;
    }
    .intro h2 {
        font-size: calc(1.3rem + 10vw);
        text-align: center;
    }
    .intro {
        position: relative;
    }
    .intro .illustration {
        height: 50%;
        width: 80%;
        margin: 0 auto;
        position: unset;
    }
    .intro .illustration::after {
        width: 110%;
        height: 100%;
        padding-bottom: unset;
        transform: translate(-5%, 5%);
    }
}