
.intro .textblock {
    display: block;
    float: left;
    width: 45%;
}

.intro h2 {
    position: relative;
    z-index: 9;
    font-size: 18rem;
    width: 100vw;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
}

.intro .textblock p {
    font-size: 3rem;
}

.intro .illustration {
    display: block;
    float: left;
    position: relative;
    top: -21rem;
}

.intro .illustration .picture {
    background-image: url("../assets/images/mypicture.jpg");
    background-position: right 0px top -0.5px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60rem;
    height: 60rem;
    margin: 3rem;
}

.intro .illustration .blackmirror {
    background-color: black;
    width: 60rem;
    height: 60rem;
    position: relative;
    z-index: -1;
    transform: translate(4rem, 4rem);
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .intro .textblock {
        float: unset;
        width: unset;
        position: absolute;
        top: 90rem;
        max-width: 89%;
    }
    .intro h2 {
        font-size: 13rem;
        text-align: center;
    }
    .intro {
        position: relative;
    }
    .intro .illustration {
        /*position: absolute;
        top: 12%;*/
        top: 0;
    }
    .intro .illustration .blackmirror {
        width: 65rem;
        height: 65rem;
        transform: translate(-11px, 8px);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .intro .textblock {
        float: unset;
        width: unset;
        position: absolute;
        top: 90rem;
        max-width: 89%;
    }

    .intro h2 {
        font-size: 13rem;
        text-align: center;
    }

    .intro {
        position: relative;
    }

    .intro .illustration {
        position: initial;
        top: 0;
        float:none;
    }

    .intro .illustration .blackmirror {
        width: 65rem;
        height: 65rem;
        transform: translate(-19px, 8px);
    }
    .intro .illustration .picture {
        display: block;
        margin: 0 auto;
    }
}