.landing {
    position: relative;
    height: calc(100 * var(--vh));
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow: hidden;
}

.landing::before{
    width: 100vw;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("../assets/images/tinified/background.jpg");
    background-size: cover;
    z-index: -1;
    -webkit-transform:  translateZ(-3px) scale(4);
    transform: translateZ(-3px) scale(4);
}

.landing::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image: url(../assets/images/tinified/ave-calvar-5u4L-E4eQWw-unsplash.jpg); **/
    background-image: url("../assets/images/tinified/hand.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*-webkit-transform:  translateZ(-2px) scale(3);
    transform: translateZ(-2px) scale(3);*/
    z-index: 5;
}

.landing .textblock {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -10%;
    margin-left: -20%;
    max-width: 45%;
    -webkit-transform:  translateZ(-1px) scale(2);
    transform:  translateZ(-1px) scale(2);
    z-index: 4;
}

.landing .textblock h1 {
    margin-bottom: 10px;
    margin-right: 0;
    font-size: calc(1.3rem + 6vw);
}

.landing .textblock p {
    font-size: calc(1.3rem + 1.5vw);
}

.landing .next {
    position: absolute;
    left: -60%;
    bottom: -40%;
    width: 40%;
    -webkit-transform: translateZ(-2px) scale(3);
    transform: translateZ(-2px) scale(3);
    z-index: 4;
}

.landing .next .arrow {
    background-image: url("../assets/icons/Arrow_Bottom.svg");
    background-repeat: no-repeat;
    width: 100px;
    max-width: 100%;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 360px) {
    /* Styles */
    .landing .next {
        max-width: none;
        position: absolute;
        width: 100%;
        bottom: -70%;
    }
    .landing .textblock {
        margin-top: -35%;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) { 
    .landing .next {
        max-width: none;
        position: absolute;
        width: 100%;
        bottom: -70%;
        left: 0;
    }
    /*.landing .textblock {
        margin: 0;
        -webkit-transform:  translateZ(-90px);
        transform:  translateZ(-90px);
        z-index: 4;
    }
    .landing::after {
        -webkit-transform:  translateZ(-300px);
        transform: translateZ(-300px);
    }
    .landing .next {
        left: unset;
        bottom: 20%;
        -webkit-transform: translateZ(-90px);
        transform: translateZ(-90px);
    }*/
}

