.landing {
    position: relative;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow: hidden;
}

.landing::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../assets/images/tinified/ave-calvar-5u4L-E4eQWw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    -webkit-transform:  translateZ(-2px) scale(3);
    transform: translateZ(-2px) scale(3);
}

.landing .textblock {
    position:absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -10%;
    margin-left: -20%;
    max-width: 50%;
    -webkit-transform:  translateZ(-1px) scale(2);
    transform:  translateZ(-1px) scale(2);
    z-index: 0;
}

.landing .textblock h1 {
    margin-bottom: 10px;
    margin-right: 0;
    font-size: calc(1.3rem + 6vw);
}

.landing .textblock p {
    font-size: calc(1.3rem + 1.5vw);
}

.landing .next {
    position: absolute;
    left: -25%;
    bottom: -20%;
    width: 40%;
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
}

.landing .next .arrow {
    background-image: url("../assets/icons/Arrow_Bottom.svg");
    background-repeat: no-repeat;
    width: 100px;
    max-width: 100%;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
    .landing .next {
        max-width: none;
        position: absolute;
        width: 100%;
        bottom: -30%;
    }

}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .landing .next {
        max-width: none;
        position: absolute;
        width: 100%;
        bottom: -30%;
        left: 0;
    }
    .landing .textblock {
        margin: 0;
        -webkit-transform:  translateZ(-1px);
        transform:  translateZ(-1px);
    }
    .landing::after {
        -webkit-transform:  translateZ(-2px);
        transform: translateZ(-2px);
    }
    .landing .next {
        -webkit-transform: translateZ(-1px);
        transform: translateZ(-1px);
    }
}

