.wrapper {
    height: calc(100 * var(--vh));
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.page {
    box-sizing: border-box;
    padding: 5%;
    height: calc(100 * var(--vh));
    /*max-height: -webkit-fill-available;*/
    max-width: 100%;
    min-width: 98%;
}

.button,button {
    background-color: black;
    background-clip: padding-box;
    padding: 20px 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
}