body,html {
    overflow: hidden;
}

.wrapper {
    height: calc(100 * var(--vh));
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.page {
    box-sizing: border-box;
    padding: 5%;
    height: calc(100 * var(--vh));
    /*max-height: -webkit-fill-available;*/
    max-width: 100%;
    min-width: 98%;
}

.button,button {
    background-color: black;
    background-clip: padding-box;
    padding: 20px 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
}

@keyframes popup-anim {
    
    from {
        transform: translateY(-2rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-right,.slide-left {
    opacity: 0;
}

@keyframes slide-right {
    from {
        transform: translateX(5rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    from {
        transform: translateX(-5rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}