.work {
    padding: 0;
    margin: 0;
}

.work .illustration {
    background-image: url("../assets/images/matt-artz-4mAcustUNPs-unsplash_v2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35%;
    background-position-y: 10%;
}

.work .content {
    padding: 5%;
    width: 60%;
}

.work h2 {
    display: block;
    font-size: calc(1.3rem + 11vw);
    line-height: 100%;
    margin: 0 auto;
    float: left;
    position: absolute;
    top: 270%;
    left: 10%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.work .work-chapters {
    width: 85%;
    padding: 0;
    margin: 0 auto;
    margin-left: 15%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
    height: 65%;
}

.work .work-chapters li {
    font-size: calc(1.3rem + 1.4vw);
    font-weight: 500;
    height: 30%;
}

.work .work-chapters li .underline {
    margin-top: 10px;
    width: 17vw;
    height: 2px;
    background-color: black;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .work .illustration {
        position: absolute;
        z-index: -1;
        top: 300%;
        left: 50%;
        transform: rotate(-90deg);
        transform-origin: top left;
        width: calc(100 * var(--vh));
        height: 50vw;
    }

    .work h2 {
        position: unset;
        line-height: 100%;
        font-size: calc(1.3rem + 20vw);
        width: 100%;
        margin-top: 0;
        transform: none;
        text-align: center;
        text-shadow: 1px 1px 10px white;
    }
    .work .work-chapters {
        max-width: 100%;
        align-content: flex-start;
        top: 221%;
        left: 5%;
        height: 84%;
        margin-left: 5%;
    }
    .work .work-chapters li {
        height: 10%;
    }

    .work .work-chapters li .underline {
        width: 80%;
    }
}
/* Medium devices (tablets, 768px and up) */
/*@media (min-width: 768px) and (max-width: 991.98px) { 
    .work .illustration {
        height: 20%;
    }
    .work h2 {
        top: 230%;
        left: -10%;
        margin: 0;
    }
    .work .work-chapters {
        width: 75%;
        left: 25%;
        top: 224%;
    }
}*/